/* CONTENT */

#contentContainer{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
    height: calc(100vh - 5rem);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contentContainer img{
    width: 30rem;
    height: 30rem;
}

/* SECTION */

#sectionContainer{
    max-width: 600px;
    font-family: rajdhani;
    margin-right: 22rem;
}

#sectionContainer  h1{
    font-size: 2rem;
}

#lista{
    font-size: 1.5rem;
    margin-top: 1rem;
    
}

