/* CONTENT */

#contentContainer{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
    height: calc(100vh - 5rem);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contentContainer img{
    width: 35rem;
    height: 35rem;
}

/* SECTION */

#sectionContainer{
    max-width: 600px;
    font-family: rajdhani;
    font-size: 1.5rem;
}


#sectionContainer h2{
    font-size: 4rem;
    line-height: 4.5rem;
    font-weight: 900;
    margin-bottom: 2rem;
}


#sectionContainer img{
    width: 2rem;
    height: 2rem;
    position: relative;
    top: 6px;
}

#sectionContainer label{
    margin-left: 1rem;  
}