
/* CONTENT */

#contentContainer{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
    height: calc(100vh - 5rem);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contentContainer img{
    width: 30rem;
    height: 30rem;
}

/* SECTION */


#sectionContainer{
    max-width: 600px;
    font-family: rajdhani;
}

#welcome{
    font-size: 3.5rem;
    font-family: Rajdhani;
}

#sectionContainer p{
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-top: 1.5rem;
}

#sectionContainer h1{
    font-size: 2rem;
    line-height: 4.5rem;
    font-weight: 900;
    margin-top: 1rem;
}

#sectionContainer h1 span {
    color: var(--purple);
}

